<form action="/profile" method="POST">
    <div class="profile-info">
        <h2 class="profile header">Profile Info</h2>

        <div><label>First Name:</label><input type="text" name="Firstname" required></div>
        <div><label>Last Name:</label><input type="text" name="Lastname" required></div>
        <div><label>Display Name:</label><input type="text" name="Displayname"></div>
        <div><label>Email:</label><input type="text" name="Email" required></div>
        <div><label>Phone Number:</label><input type="tel" id="phone" name="Phonenumber"></div>
        <div><label>Date of Birth:</label><input type="date" id="birthday" name="Birthday"></div>
        <div><label>Address 1:</label><input type="text" name="Address1"></div>
        <div><label>Address 2:</label><input type="text" name="Address2"></div>
        <div><label>City:</label><input type="text" name="City"></div>
        <div><label>State:</label><input type="text" name="State"></div>
        <div><label>Zipcode:</label><input type="text" name="Zipcode"></div>
        <div><label>Country:</label><input type="text" name="Country"></div>
        <p><div><label>Married:</label>
        <select name="Marital_Status">
            <option value=""></option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        <div></p>
        <div><label for="marriage anniversary">Married on:</label><input type="date" id="anniversary" name="Marriage_Anniversary"></div>

        <div><label>Kids:</label>
            <select name="Kids">
                <option value=""></option>
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
            </select>
        </div>
        <input type="submit">
</form>
