{% extends "base.html" %}
{% block content%}
<style>

    div{ 
        margin-bottom:5px; 
    }
      label{ 
        display:inline-block; 
        width:105px;
        } 
        
</style>
  <h1>Calendar</h1>
  

  <form action="/calendar" method="POST">

    <p><div><label>Event Type:</label>
        <select name="event_type">
        <option value=""></option>
        <option value="Birthday">Birthday</option>
        <option value="Marriage_Anniversary">Marriage Anniversary</option>
        </select>
        <div></p>
    <div><label>Event Date:</label><input type="date" id="event_date" name="event_date"></div>
    <div><label>Event Details:</label><input type="text" id="event_text" name="event_text" required></div>
    <p><div>
      <input type="submit" value="Submit">
    </div></p>

  </form>
{% endblock %}