{% extends "base.html" %}
{% block content %}
<style type="text/css">
  .container {
  display: table;
  width: 100%;
}
#left {
   display: inline-block; 
        width: 50%;
        float: left;
}
#right {
   display: inline-block; 
        width: 50%;
        float: right;
}
</style>
<div class="container">
  <h1>Welcome to FamilyCube!!!</h1>
  <div id="right" >
   <i f073 class="fa fa-calendar-o" aria-hidden="true"></i>
      <h2>Events</h2>
     {% if events %}
  
    {% for event in events %}
    <ul>
      <li>{{ event.event_type }}</li>
      <li>{{ event.event_text }}</li>
      <li>{{ event.event_date}}</li>
  </ul>
  {% endfor %}
  {% endif %}
  </div>
<div id="left" >
    <img width="500" height="333">
  </div>

</div>
{% endblock %}
