<!DOCTYPE html>
<html>
<head>
    <title>Homepage Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {

  background-color:#e6ffff;

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #4d88ff;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:#ddd;
  color: black;
}
.events {
    text-align:right;
}


</style>
</head>
<body>

    <form action="/profile">

<div class="topnav">
  <a class="active" href=#home>Home</a>
  <a href="/profile">Profile</a>
  <a href="/photos">Photos</a>
  <a href="/videos">Videos</a>
  <a href="/events">Events</a>
  <a href="/calendar">Calendar</a>
  <a href="/logout">Logout</a>
</div>

<div style="padding-left:16px">
  <h1>Welcome to FamilyCube!!!</h1>
  <div class="events" style="padding-right:16px">
    <h2>Upcoming Events</h2>
</div>
  <p>
    <img class="rounded" width="500" height="333">
  </p>
</div>

</form>

</body>
</html>
