 <!doctype html>
<html>
<head>
    <title>Homepage</title>
<style>
body{

    background-color:#e6ffff;
}
.topnav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background-color:grey;
}


</style>
</head>
<body>

    <form action="/login">
      <div class="topnav">
      <div class="login-container">
    <form action="/login">
      <button type="submit">Login</button>
    </form>
    <form action="/register">
      <button type="submit">Sign Up</button>
    </form>
  </div>
</div>

<div style="padding-left:16px">
    <h1 style="color:black;">FamilyCube!</h1>

    <p>
    <img src="static/imgbin-family-drawing-illustration-cartoon-family-photo-6q3urHvyG7EkAu98DHed8bBG2.JPG" class="rounded" width="300" height="350">
  </p>

    <p><h3 style="color:black;"> Connect with your family around the world on FamilyCube...</h3></p>
    <p><h3 style="color:black;"> See photos and updates from family and share what's new in your life.</h3></p>

</body>
</html> 