<!doctype html>
<html>
<head>
  <title>Login</title>
</head>
<style>
body{

  background-color:lightblue;
}
</style>
  <body>
  <h1>Login</h1>
  <form action="/login" method="POST">

    <div>
      <p><label>Email:
        <input type="email" name="email" required>
      </label></p>
    </div>

    <div>
      <p><label>Password:
        <input type="password" name="password" required>
      </label></p>
    </div>

    <div>
      <input type="submit" value="Log In">
    </div>

  </form>
</body>
</html>

  