<!doctype html>
<html>
<head>
    <title>Profile Page</title>
</head>
<style>

  body{
    
  background-color:#e6ffff;
}
      div{ 
        margin-bottom:5px; 
      }
      label{ 
        display: inline-block; 
        width: 105px;

</style>
<body>
    <section class="profile">
      <div class="profile-info">
        <h2 class="profile header">Profile Info</h2>

<form action="/profile" method="POST">

  <div><label>First Name:</label><input type="firstname" name="firstname" required></div>
        <div><label>Last Name:</label><input type="lastname" name="lastname" required></div>
        <div><label>Display Name:</label><input type="displayname" name="displayname"></div>
        <div><label>Email:</label><input type="email" name="email" required></div>
        <div><label>Phone Number:</label><input type="tel" id="phone" name="phone"></div>
        <div><label>Date of birth:</label><input type="date" id="birthday" name="birthday"></div>
        <div><label>Address 1:</label><input type="Address1" name="Address1"></div>
        <div><label>Address 2:</label><input type="Address2" name="Address2"></div>
        <div><label>City:</label><input type="City" name="City"></div>
        <div><label>State:</label><input type="State" name="State"></div>
        <div><label>Zipcode:</label><input type="Zipcode" name="Zipcode"></div>
        <div><label>Country:</label><input type="Country" name="Country"></div>
        <p><div><label>Married:</label>
        <select name="marital status">
        <option value=""></option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
        </select>
        <div></p>
        <div><label for="marriage anniversary">Married on:</label><input type="date" id="anniversary" name="anniversary"></div>

        <div><label>Kids:</label>
        <select name="Kids">
        <option value=""></option>
        <option value=0>0</option>
        <option value=0>1</option>
        <option value=0>2</option>
        <option value=0>3</option>
        <option value=0>4</option>
        </select>
        <div></p>
        </fieldset>
    </form>
  </body>
</html>


 
</form>
</section>
  
  <section class="family-info">
    <div class="family">
      <h2 class="family header">Family Info</h2>
    </div>
  </section>

  <section class="spouse-info">
    <p><div>
      <h3 class="family header">Spouse Info</h3>
        <div><label>First Name:</label><input type="firstname" name="firstname" required></div>
        <div><label>Last Name:</label><input type="lastname" name="lastname" required></div>
        <div><label>Display Name:</label><input type="displayname" name="displayname"></div>
        <div><label>Email:</label><input type="email" name="email" required></div>
        <div><label>Phone Number:</label><input type="tel" id="phone" name="phone"></div>
        <div><label>Date of birth:</label><input type="date" id="birthday" name="birthday"></div>
        <div><label for="marriage anniversary">Married on:</label><input type="date" id="anniversary" name="anniversary"></div>

<section class="children-info">
    <p><div>
      <h3 class="family header">Kids Info</h3>
        <div><label>First Name:</label><input type="firstname" name="firstname" required></div>
        <div><label>Last Name:</label><input type="lastname" name="lastname" required></div>
        <div><label>Display Name:</label><input type="displayname" name="displayname"></div>
        <div><label>Email:</label><input type="email" name="email" required></div>
        <div><label>Phone Number:</label><input type="tel" id="phone" name="phone"></div>
        <div><label>Date of birth:</label><input type="date" id="birthday" name="birthday"></div>
</section>


<p><div>
    <input type="button" value="Submit">
  </div></p>

</form>
</body>
</html>



        



