<!doctype html>
<html>
<head>
  <title>Register</title>
</head>
<style>
body{

  background-color:#e6ffff;
}
  div{ 
        margin-bottom:5px; 
      }
      label{ 
        display: inline-block; 
        width: 105px; 
</style>
<body>

<h2>Register to FamilyCube</h2>

<h4>Please fill in this form to create an account</h4>

<form action="/register" method="POST">

  <div><label>First Name:<input type="Firstname" name="Firstname"></label></div>
  <div><label>Last Name:<input type="Lastname" name="Lastname"></label></div>
  <div><label>Email:<input type="Email" name="Email"></label></div>
  <div><label>Password:<input type="Password" name="Password"></label></div>

  <p><div>
    <input type="submit" value="Register">
  </div></p>

</form>
</body>
</html>

