<!doctype html>
<html>
<head>
  <title>Register</title>
</head>
<style>
body{

  background-color:lightblue;
}
</style>
<body>

<h2>Register to FamilyCube</h2>

<form action="register" method="POST">

  <p><div>
    <label>
      First Name
      <input type="Firstname" name="Firstname">
    </label>
  </div></p>

  <p><div>
    <label>
      Last Name
      <input type="Lastname" name="Lastname">
    </label>
  </div></p>

  <p><div>
    <label>
      Email
      <input type="email" name="Email">
    </label>
  </div></p>

  <p><div>
    <label>
      Password
      <input type="password" name="Password">
    </label>
  </div></p>

  <p><div>
    <input type="submit" value="Register">
  </div></p>

</form>
</body>
</html>

